.sidebar-wrapper, .activity-wrapper {
    padding: 10px;
}

.avatar {
    width: 300px;
    height: 200px;
    background-color: #DF4B3B;
}

.avatar-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}

.profile-entry {
    margin: 20px;
}

.profile-entry-submit {
    text-align: right;
}

.profile-entry-header {
    font-size: 150%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-entry-content {
    font-size: 130%;
}

.question-wrapper {
    margin: 10px 0px;
}

.answer-wrapper {
    margin: 10px 0px;
}

.activity-card {
    cursor: pointer;
}

.activity-heading {
    font-size: 130%;
}

.activity-contents {
}

.profile-edit-btn-wrapper {
    text-align: right;
}
