.home-content-wrapper {
    margin: 20px 0px;
}

.home-header {
    text-align: center;
    margin-bottom: 20px;
}

.admin-delete-question {
    float: right;
}

.question-entry {
    cursor: pointer;
}

.block-wrapper {
    display: flex;
}

.rep-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.q-block {
}

.home-q-user {
    margin: 5px 0px;
}

.home-privacy-wrapper {
    margin: 40px 0px;
    text-align: center;
}
